.nav1 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#nav2 {
    color: orange;
}

header .nav-bar {
    display: flex;
    align-items: center;
    /* padding: 20px; */
    justify-content: space-between;
    /* background: lightcyan; */
    /* height: 70px;
    width: 100%; */

}

.nav-bar .nav-menu {
    display: flex;
    /* gap: 90px; */
    margin-right: 150px;
    

}

.nav-bar .nav-menu .nav-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 40px; */
    width: auto;
    padding: 0.75rem 1.5rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
   
}

.nav-bar .nav-menu .nav-link a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.logo1{
    margin-top: 200px;
    margin-left: 100px;
}
.li{
    color: black;
    font-family: sans-serif;
}
#cover2{
    margin-top: 90px;
    font-size: 72px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50vw;

}
.cover3{
    font-size: 50px;
    margin-top: 90px;
    color: rgb(169, 99, 13);
}
h6{
    width: 350px;
    margin-top: 25px;
}
.boxs{ 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.aap{
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}
label{
    font-size: 18px;
    font-weight: 600;
}
input{
    border-color: rgb(196, 154, 236);
    border-radius: 10px;margin-top: 10px;

}
select{
    border-color: rgb(196, 154, 236);
    border-radius: 10px;
    margin-top: 10px;
}
form{
    background-color:orange ;
    display: flex; 
       flex-direction: column;
       

}
.box{
    margin-top: 30px;
    background-color: black;
    color: white;
    padding:40px 0 20px;
    font-family: Arial, sans-serif;
}
.box1{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 40px

}
.box6{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:19px;
    font-weight: 600;
    margin-top: 30px;
}